@model AppRegistroEstudiantes.Models.Horario

@{
    ViewBag.Title = "Horario - Eliminar";
}

<div>
    <h4>¿Estas seguro que quieres eliminar el Horario con Id @Model.Id?</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="h6">@Html.DisplayNameFor(model => model.Dia)</label>
                <div>@Html.DisplayFor(model => model.Dia)</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="h6">@Html.DisplayNameFor(model => model.HoraInicio)</label>
                <div>@Html.DisplayFor(model => model.HoraInicio)</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="h6">@Html.DisplayNameFor(model => model.HoraFin)</label>
                <div>@Html.DisplayFor(model => model.HoraFin)</div>
            </div>
        </div>
    </div> 

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Volver Atrás", "Index") |
            <input id="btnEliminar" type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>
