@model AppRegistroEstudiantes.Models.Horario

@{
    ViewBag.Title = "Horario - Detalles";
}

<div>
    <h4>Horario Id: @Model.Id</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="h6">@Html.DisplayNameFor(model => model.Dia)</label>
                <div>@Html.DisplayFor(model => model.Dia)</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="h6">@Html.DisplayNameFor(model => model.HoraInicio)</label>
                <div>@Html.DisplayFor(model => model.HoraInicio)</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="h6">@Html.DisplayNameFor(model => model.HoraFin)</label>
                <div>@Html.DisplayFor(model => model.HoraFin)</div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Volver Atrás", "Index") |
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id })
</p>
