@model AppRegistroEstudiantes.Models.Contacto

@{
    ViewBag.Title = "Contacto - Detalles";
}

<div>
    <h4>Contacto Id: @Model.Id</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="h6">@Html.DisplayNameFor(model => model.Nombre)</label>
                <div>@Html.DisplayFor(model => model.Nombre)</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="h6">@Html.DisplayNameFor(model => model.Telefono)</label>
                <div>@Html.DisplayFor(model => model.Telefono)</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="h6">@Html.DisplayNameFor(model => model.Correo)</label>
                <div>@Html.DisplayFor(model => model.Correo)</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="h6">@Html.DisplayNameFor(model => model.Asunto)</label>
                <div>@Html.DisplayFor(model => model.Asunto)</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <div class="form-group">
                <label class="h6">@Html.DisplayNameFor(model => model.Mensaje)</label>
                <div>@Html.EditorFor(model => model.Mensaje, new { htmlAttributes = new { @class = "form-control", @rows = "5", @readonly = "true" } })</div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Volver Atrás", "Index") |
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id })
</p>
