@model AppRegistroEstudiantes.Models.Curso

@{
    ViewBag.Title = "Curso - Eliminar";
}

<div>
    <h4>¿Estas seguro que quieres eliminar el Curso con Id @Model.Id?</h4>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="h6">@Html.DisplayNameFor(model => model.Nombre)</label>
                <div>@Html.DisplayFor(model => model.Nombre)</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="h6">@Html.DisplayNameFor(model => model.Descripcion)</label>
                <div>@Html.DisplayFor(model => model.Descripcion)</div>
            </div>
        </div>
    </div>    

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">            
            @Html.ActionLink("Volver Atrás", "Index") |
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>
